.contenedorCarrito{
    padding: 10px;
}
.imgCarrito{
    height: 80px;
    width: 80px;
  
}
.tituloCarrito{
    word-break: break-all;  
    text-align: left; 
}
.tituloCarrito p{
    text-align: right;   
}

