footer{
    background-color: #333333;
    padding-top: 30px;
}
footer div{
    background-color: #333333;
}
.div-enlaces{
    text-align: center;
    margin-bottom: 35px;
}
footer div h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.iconos{
    color: white;
    font-size: 70px;
}
.iconos-redes{
    color: white;
    font-size: 35px;
    margin-right: 40px;
}
.divisor{
    background-color: white;
    height: 1px;
    width: 100%; 
 
   
}
.texto{
    color: white;
    margin-top: 20px;
    text-align: center;
    
  
}
.copy{
    color: white;
    text-align: center;
   
}
.copy a p{
    color: white;
}
