/* style del nav bar*/
.card-title {
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.result {
  border: transparent;
  width: 100%;
  height: 100%;
  text-align: left;
}
.register{
  margin-right: 10px;
}
.logo{
  width: 80px;
  height: 50px;
}

/* style de la pagina home */
.imgCarousel{
  height: 600px;
}  

/* style de la lista en home */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.lista{
  margin-bottom: 20px;
}
.lista li{
  border: 1px solid #999;
  border-top: transparent;
}
.lista li a{
  color: #999;
  display: block;
  padding: 10px 10px 10px 10px;
}
.lista li:first-child{
  border-top:1px  solid #999;
  border-radius: 10px 10px 0px 0px;
}
.lista li:last-child{
  border-radius: 0px 0px 10px 10px;
}
@media screen and (max-width:480px){
  .ocultarPub{
    visibility: hidden;
    display: none;
  }
}