body  {
	background-color: #F6F6F6;
}
h1 {
	color: #990100;
}

.card {
	padding: 20px;
}
#btnDeleteAccount {
	background-color: #B90504;
	border-radius: 2px;
	color: #FFFFFF;
	height: 40px;
	transition: 0.8s;
}
#btnDeleteAccount:hover {
	background-color: #990100;
}
#btnDeleteAccount2 {
	border-radius: 2px;
	background-color: #B90504;
	color: #FFFFFF;
	transition: 0.8s;
}
#btnDeleteAccount2:hover {
	background-color: #990100;
}
#btnCancel {
	border-radius: 2px;
	background-color: #F6F6F6;
	color: #333333;
	transition: 0.8s;
}
#btnCancel:hover {
	background-color: #333333;
	color: #F6F6F6;
}

#rowDatos {
	margin-top: 50px;
	margin-bottom: 30px;
}
