body  {
	background-color: #F6F6F6;
}
h1 {
	color: #990100;
}
.card {
	padding: 20px;
}
#btnDeleteAccount {
	border-radius: 2px;
	color: #FFFFFF;
	height: 40px;
	transition: 0.8s;
}

#btnCancel {
	background-color: #F6F6F6;
	border-radius: 2px;
	color: #333333;
	transition: 0.8s;
}
#btnCancel:hover {
	background-color: #333333;
	color: #F6F6F6;
}

#rowDatos {
	margin-top: 50px;
	margin-bottom: 20px;
}
