.image-container
{
	background-size: cover;
	min-height: 100vh;
}
.form-container
{
	display: flex;
	justify-content: center;
}
body {
	animation-name: anim;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes anim {
    0% {background-color: #F6F6F6;} 
    25% {background-color: #E8E8E8;} 
    50% {background-color: #CCCCCC;} 
    75% {background-color: #E8E8E8;} 
    100% {background-color: #F6F6F6;} 
}
.form-box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
#buttonLogin {
	width: 100%;
	background-color: #292C37;
	transition-duration: 0.2s;
	color: #FFFFFF;
	border-radius: 2px;
}
#buttonLogin:hover {
	background-color: #252831;
	color: #FFFFFF;
}
#buttonRegister {
	width: 100%;
	background-color: #333333;
	transition-duration: 0.2s;
	color: #FFFFFF;
	border-radius: 2px;
}
#buttonRegister:hover {
	background-color: #2E2E2E;
	color: #FFFFFF;
}
#lblMessage {
	color: #AE5755;
}