.paginacion {
    margin:20px 0;
    text-align: center;
}
 
.paginacion ul {
	list-style:none;
	text-align: center;
}
 
.paginacion ul li {
	display:inline-block;
	margin-right:5px;
}
 
.paginacion ul li a {
	display:block;
	padding:5px 15px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}
 
.paginacion ul li a:hover {
	background:#037E8C;
}
 
.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}