body {
    animation-name: anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes anim {
    0% {background-color: #F6F6F6;} 
    25% {background-color: #E8E8E8;} 
    50% {background-color: #e0e0e0;} 
    75% {background-color: #E8E8E8;} 
    100% {background-color: #F6F6F6;} 
}
#title, #tituloEncargados, #productTitle{
    margin-top: 20px;
    color: #990100;
}
#tituloEncargados, #productTitle{
    margin-top: 30px;
}

#h5PPS {
    color: #B90504;
    font-weight: bold;
    text-align: left;
}
#productCardTitle {
    color: #333333;
    text-align: left;
    font-weight: bold;
}

#pPPS {
    color: #333333;
    text-align: left;
}
#addStandBtn > .card-body > .card-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#addStandBtn > .card-body > .card-text{
    font-size: 20px; position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#uiForm:hover > button > .card-body > .card-text {
    color: #B90504;
}
#btnReportStand {
    width: 100%;
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    transition: 0.8s;
}
#btnReportStand:hover {
    background-color: #990100;
}
#btnReportStand2 {
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    transition: 0.8s;
}
#btnReportStand2:hover {
    background-color: #990100;
}
#btnCancel {
    border-radius: 2px;
    background-color: #F6F6F6;
    color: #333333;
    transition: 0.8s;
}
#btnCancel:hover {
    background-color: #333333;
    color: #F6F6F6;
}