body {
	background-color: #F6F6F6;
}
.container {
	background-color: #F6F6F6;
}
#btnUpdateProduct {
	border-radius: 2px;
	width: 100%;
	background-color: #CCCCCC;
	transition: 0.5s;
	color: #333333;
}
#btnUpdateProduct:hover {
	background-color: #333333;
	color: #fff;
}
#btnDeleteProduct {
	width: 100%;
	border-radius: 2px;
	background-color: #B90504;
	transition: 0.5s;
	color: #fff;
}
#btnDeleteProduct:hover {
	background-color: #990100;
}
#btnDeleteProduct2 {
	border-radius: 2px;
	background-color: #B90504;
	color: #FFFFFF;
	transition: 0.8s;
}
#btnDeleteProduct2:hover {
	background-color: #990100;
}
#btnCancel {
	border-radius: 2px;
	background-color: #F6F6F6;
	color: #333333;
	transition: 0.8s;
}
#btnCancel:hover {
	background-color: #333333;
	color: #F6F6F6;
}
@media screen and (max-width: 768px) {
	#imgProduct {
		height: 300px;
	}
	#btnDeleteProduct {
		margin-top: 10px;
	}
}