body {
	background-color: #F6F6F6;
}
.container {
	background-color: #F6F6F6;
}
#h1User {
	color: #990100;
}
#titleCardH5 {
	color: #B90504;
	font-weight: bold;
	text-align: left;
}
#productCardTitle {
	color: #333333;
	text-align: left;
	font-weight: bold;
}

#pPPU {
	color: #333333;
	text-align: left;
}
#cardHeader {
	padding: 20px 20px;
	border-color: #333333;
}
#cardStandsProducts {
	transition: 0.5s ease;
}
#cardStandsProducts:hover {
	transform: scale(1.04);
}
#cardStandsProducts:focus {
	outline: none;
}
#divider {
	background-image: linear-gradient(to right,#990100,#B90504);
}