body  {
	background-color: #F6F6F6;
}
#h1RS {
	color: #990100;
}
.card {
	padding: 20px 100px;
}
#textareaRS {
	width: 100%;
	min-height: 100px;
	resize: none;
	border-radius: 8px;
	border: 1px solid #ddd;
	padding: 0.5rem;
	color: #666;
	box-shadow: inset 0 0 0.25rem #ddd;
	&:focus {
		outline: none;
		border: 1px solid darken(#ddd, 5%);
		box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
	}
	&[placeholder] { 
		font-style: italic;
		font-size: 0.875rem;
	}
}
#stand-name-char-count, #the-count {
	float: right;
	padding: 0.1rem 0 0 0;
	font-size: 0.875rem;
}
#buttonSaveStand {
    width: 250px;
    border-radius: 2px;
    background-color: #333333;
    color: #F6F6F6;
    height: 50px;
    transition: 0.5s;
}
#buttonSaveStand:hover {
    background-color: #CCCCCC;
    color: #333333;
}
#upload {
	opacity: 0;
}
#upload-label {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}
.image-area {
	border: 2px dashed rgba(255, 255, 255, 0.7);
	border-color: #BBB;
	padding: 1rem;
	position: relative;
}
.image-area::before {
	content: 'Resultado de imagen subida';
	color: #BBB;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	z-index: 1;
}
.image-area img {
	z-index: 2;
	position: relative;
}
.input-group-append{
	margin-left:auto;
	margin-right:0;
}
#standImage{
	border-color: #DDDDDE;
}
/*https://codepen.io/zabielski/pen/gPPywv*/	