body {
	animation-name: anim;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes anim {
	0% {background-color: #F6F6F6;} 
	25% {background-color: #E8E8E8;} 
	50% {background-color: #CCCCCC;} 
	75% {background-color: #E8E8E8;} 
	100% {background-color: #F6F6F6;} 
}

#buttonReset {
	width: 100%;
	border-radius: 2px;
    background-color: #333333;
    color: #F6F6F6;
    transition: 0.5s;
    margin-top: 10px;
}
#buttonReset:hover {
	background-color: #CCCCCC;
    color: #333333;
}
#lblMessage {
	color: #AE5755;
}