body  {
    background-color: #F6F6F6;
}
#h1US {
    color: #990100;
}
.card {
    padding: 20px 100px;
}
#standDescription {
    width: 100%;
    min-height: 100px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
    &:focus {
        outline: none;
        border: 1px solid darken(#ddd, 5%);
        box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
    }
    &[placeholder] { 
        font-style: italic;
        font-size: 0.875rem;
    }
}
#stand-name-char-count, #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
}
#upload {
    opacity: 0;
}
#buttonSave {
    width: 250px;
    border-radius: 2px;
    background-color: #333333;
    color: #F6F6F6;
    height: 50px;
    transition: 0.5s;
}
#buttonSave:hover {
    background-color: #CCCCCC;
    color: #333333;
}
#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    border-color: #BBB;
    padding: 1rem;
    position: relative;
}
.image-area::before {
    content: 'Resultado de imagen subida';
    color: #BBB;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}
.image-area #imageResult {
    z-index: 2;
    position: relative;
}
.input-group-append{
    margin-left:auto;
    margin-right:0;
}
#standImage{
    border-color: #DDDDDE;
}
#btnDeleteStand {
    width: 170px;
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    height: 40px;
    transition: 0.8s;
}
#btnDeleteStand:hover {
    background-color: #990100;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#btnDeleteStand2 {
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    transition: 0.8s;
}
#btnDeleteStand2:hover {
    background-color: #990100;
}
#btnCancel {
    border-radius: 2px;
    background-color: #F6F6F6;
    color: #333333;
    transition: 0.8s;
}
#btnCancel:hover {
    background-color: #333333;
    color: #F6F6F6;
}