body  {
    background-color: #F6F6F6;
}
.container {
    background-color: #F6F6F6;
}
#active {
    background-color: #333333;
    color: #FFFFFF;
}
h1 {
    color: #990100;
}
h3 {
    color: #990100;
}
h5 {
    text-align: left;
    color: #B90504;
    font-weight: bold;
}
label { 
    color: #333333;
}
#buttonSave {
    width: 250px;
    border-radius: 2px;
    background-color: #333333;
    color: #F6F6F6;
    height: 50px;
    transition: 0.5s;
}
#buttonSave:hover {
    background-color: #CCCCCC;
    color: #333333;
}
.card {
    padding: 20px 100px;
}
#btnDeleteAccount {
    width: 170px;
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    height: 40px;
    transition: 0.8s;
}
#btnDeleteAccount:hover {
    background-color: #990100;
}
#btnDeleteAccount2 {
    border-radius: 2px;
    background-color: #B90504;
    color: #FFFFFF;
    transition: 0.8s;
}
#btnDeleteAccount2:hover {
    background-color: #990100;
}
#btnCancel {
    border-radius: 2px;
    background-color: #F6F6F6;
    color: #333333;
    transition: 0.8s;
}
#btnCancel:hover {
    background-color: #333333;
    color: #F6F6F6;
}
#stands, #favorites, #opinions {
    display: none;
}
#updateProfile, #stands, #favorites, #opinions {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
#addStandBtn > .card-body > .card-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#addStandBtn > .card-body > .card-text{
    font-size: 20px; position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
a{
    color: black;
}
#addStandBtn:hover {
    color: #B90504;
}