body {
	background-color: #F6F6F6;
}
.container {
	background-color: #F6F6F6;
}
#active {
	background-color: #333333;
	color: #FFFFFF;
}
#h3UP {
	color: #333333;
	font-weight: bold;
}
#h5UP {
	color: #333333;
	font-weight: bold;
}
#labelUP { 
	color: #333333;
	font-size: 16px;
}
#buttonSave {
	width: 250px;
	border-radius: 2px;
	background-color: #333333;
	color: #F6F6F6;
	height: 50px;
	transition: 0.5s;
}
#buttonSave:hover {
	background-color: #CCCCCC;
	color: #333333;
}
.card {
	padding: 20px 100px;
}
#maxCharacters {
	float: right;
	color: #333333;
}
#maxCharactersInput {
	float: right;
	color: #333333;
}
.thumbnail{
    height: 150px;
    margin: 10px; 
    float: left;
}
#result {
    border: 4px dotted #cccccc;
    display: none;
    margin:0 auto;
    width: 100%;
}
#files {
	opacity: 0;
}
#productImage {
	background-color: #F6F6F6;
	transition: 0.6s;
	border-radius: 5px;
}
#productImage:hover {
	background-color: #E8E8E8;
}
#files-label {
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
}
#btnDeleteProduct {
	width: 190px;
	height: 40px;
	border-radius: 2px;
	background-color: #B90504;
	color: #FFFFFF;
	transition: 0.8s;
}
#btnDeleteProduct:hover {
	background-color: #990100;
}
#btnDeleteProduct2 {
	border-radius: 2px;
	background-color: #B90504;
	color: #FFFFFF;
	transition: 0.8s;
}
#btnDeleteProduct2:hover {
	background-color: #990100;
}
#btnCancel {
	border-radius: 2px;
	background-color: #F6F6F6;
	color: #333333;
	transition: 0.8s;
}
#btnCancel:hover {
	background-color: #333333;
	color: #F6F6F6;
}
.ui.label.transition.visible {
	width: 100px;
	white-space:pre-wrap;
	word-wrap: break-word;
	text-align: center;
}